 /* Main image */
 .home-image{
    width: 100vw;
    height: 70vh;
  }
  .img-fluid{
    width: 100%;
    height: 100%;
    /* opacity: calc(75%); */ 
  }
  /* This is an css of text which is apply on the bg image */
  .text-overlay {
    width: 100%;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 70px;
    border-radius: 10px;
    text-align: center;
    font-weight: bolder;
  }
  /* animation for the main page  */
  .text-overlay {
    animation: fadeInUp 1.5s ease-out forwards;
    opacity: 0;
  }
  
  .text-overlay p {
    animation: fadeInUp 2s ease-out forwards;
    animation-delay: 0.5s;
    opacity: 0;
    margin-left: 50%;
    margin-bottom: -3%;
  }
  
  .text-overlay button {
    animation: fadeInUp 2.5s ease-out forwards;
    animation-delay: 1s;
    opacity: 0;
    margin-left: 15%;
  }
  
  @keyframes fadeInUp {
    0% {
      opacity: 0;
      transform: translate(-50%, -40%);
    }
    100% {
      opacity: 1;
      transform: translate(-50%, -50%);
    }
  }
  /* button css */
button {
    font-size: 18px;
    letter-spacing: 2px;
    text-transform: uppercase;
    display: inline-block;
    text-align: center;
    font-weight: bold;
    padding: 0.7em 2em;
    border: 3px solid #FF0072;
    border-radius: 2px;
    position: relative;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.1);
    color: #FF0072;
    text-decoration: none;
    transition: 0.3s ease all;
    z-index: 1;
  }
  
  button:before {
    transition: 0.5s all ease;
    position: absolute;
    top: 0;
    left: 50%;
    right: 50%;
    bottom: 0;
    opacity: 0;
    content: '';
    background-color: #FF0072;
    z-index: -1;
  }
  
  button:hover, button:focus {
    color: white;
  }
  
  button:hover:before, button:focus:before {
    transition: 0.5s all ease;
    left: 0;
    right: 0;
    opacity: 1;
  }
  
  button:active {
    transform: scale(0.9);
  }
  /* main-about-css */
  .main-about{
    width: 100vw;
    height: 100vh;
    margin: 0%;
    padding: 0%;
    margin-top: 5%;
  }
  .about-tittle{
    text-align: center;
    font-size: 35px;

  }
  .hr-design{
    width: 100px;
    height: 3px;
    background-color:#FF0072;
    border-radius: 20px;
    margin-left: 40%;
  }
  .about-paragraph{
    text-align: center;
    font-size: 18px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  /* about-features css*/
  .about-features{
    width: 100vw;
    height: 100vh;
    margin: 0%;
    padding: 0%;
  }
  .features-tittle{
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 45px;
  }
  /* services */
  .about-services{
    width: 100vw;
    height: 60vh;
    margin: 0%;
    padding: 0%;
    margin-top: 15%;
  }
  /* Footer css */
footer{
  background-color: #081b29;
  color: white; 
  text-align: center; padding: 20px 0;
  margin-top: 10%;
}
